<div class="conteudo">
    <div class="toolbar">
        <div class="user">
            <div class="user-img"></div>
            <p>Olá, Maria Carolaine!</p>
        </div>
        <div class="buttons">
            <div class="light-control">
                <div class="circle">
                    <i class='bx bx-sun'></i>
                </div>
            </div>
            <i class='bx bxs-cog'></i>
            <i class='bx bx-exit'></i>
        </div>
    </div>
    <div class="form">
        <h3>Adicionar Lançamento</h3>
        <div class="inputs">
            <input type="text" placeholder="Título para lançamento">
            <input type="text" placeholder="Forma de pagamento">
            <input type="text" placeholder="R$ Valor do lançamento">
            <input type="text" placeholder="Categoria">
        </div>
        <div class="row">
            <button class="btn btn-primary">Adicionar</button>
            <button class="btn btn-outlined-primary">Cancelar</button>
        </div>
    </div>
</div>