.conteudo {
    background: #6B7AFF;
    height: 100%;
    padding-bottom: 3rem;
   
    .form {
        box-shadow: 0 9.6px 19.2px 10px #00000010;
        h3 { font-size: 24px; }
    }
    .card table {
        border-spacing: 0 15px;
        border-collapse: separate; 
    }
}