/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');

:root {
    --text-primary: #6B7AFF;
    --text-secondary: #333333a8;
    --text-muted: #ced4da;
    --text-info: #256ef7;
    --text-warning: #f5cb59;
    --text-danger: #ee5454;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    border: none;
}

a:hover { text-decoration: none; }

p { margin-bottom: 0 !important; }

button:focus  { outline: none; }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #00000045 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #00000045 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #00000045 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #00000045 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #00000045 !important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #00000045 !important;
}

/*  BOOTSTRAP EDITION  */
.text-primary { color: var(--text-primary) !important }
.text-secondary { color: var(--text-secondary) !important }
.text-muted { color: var(--text-secondary) !important }
.text-info { color: var(--text-info) !important }
.text-warning { color: var(--text-warning) !important }
.text-danger { color: var(--text-danger) !important }

.rounded-4 { border-radius: 1rem!important; }

.border-l-3 {
    width: 5px;
    height: 50px;
    background: var(--text-primary);
    border-radius: 15px;
}

.form-control:focus { 
    box-shadow: 0px 0px 2px 2px #6b7aff62; 
    border: 1px solid #6b7aff62;
}

.action-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #ffffff00;
    transition: all 300ms ease;
    i { font-size: 25px; }
    
}
.edit:hover {
    background: var(--text-warning);
    border-radius: 50px;
    i { color: white !important; }
}

.delete:hover {
    background: var(--text-danger);
    border-radius: 50px;
    i { color: white !important; }
}

.btn { min-width: 105px; }

.btn-primary {
    background: var(--text-primary);
    border: 2px solid var(--text-primary);
    color: white;
    transition: all 300ms ease;
    &:hover {
        background: #6b7aff00;
        border: 2px solid var(--text-primary);
        color: var(--text-primary);
    }
}

.btn-outline-primary {
    transition: all 300ms ease;
    background: #6b7aff00;
    border: 2px solid var(--text-primary);
    color: var(--text-primary);
    &:hover {
        background: var(--text-primary);
        border: 2px solid var(--text-primary);
        color: white;
        transition: all 300ms ease;
    }
}

.btn-outline-secondary {
    transition: all 300ms ease;
    background: #6b7aff00;
    border: 2px solid var(--text-muted);
    color: var(--text-muted);
    &:hover {
        background: var(--text-muted);
        border: 2px solid var(--text-muted);
        color: white;
        transition: all 300ms ease;
    }
}

.djcac {
    display: flex;
    align-items: center;
    justify-content: center;;
}